In [207]:
import pandas as pd

### Load the data into dataframes, and check to ensure integrity

In [208]:
# Load the datasets into panda dataframes
salary_df = pd.read_csv('../data/salary.csv')
housing_df = pd.read_csv('../data/home_values.csv')
col_df = pd.read_csv('../data/cost_of_living.csv')
city_coords_df = pd.read_csv('../data/city_coordinates.csv')

In [209]:
salary_df.head()

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,OCC_CODE,OCC_TITLE,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,15-2051,Data Scientists,...,50.68,61.66,71.14,"61,810","76,180","105,410","128,250","147,980",NaN,NaN
1,2,Alaska,2,AK,0,Cross-industry,cross-industry,1235,15-2051,Data Scientists,...,37.21,56.00,64.98,"47,670","56,020","77,400","116,470","135,160",NaN,NaN
2,4,Arizona,2,AZ,0,Cross-industry,cross-industry,1235,15-2051,Data Scientists,...,51.00,64.67,79.39,"66,910","81,170","106,080","134,510","165,120",NaN,NaN
3,5,Arkansas,2,AR,0,Cross-industry,cross-industry,1235,15-2051,Data Scientists,...,50.15,60.28,78.90,"57,830","82,370","104,320","125,390","164,120",NaN,NaN
4,6,California,2,CA,0,Cross-industry,cross-industry,1235,15-2051,Data Scientists,...,65.77,85.33,106.29,"73,390","98,460","136,800","177,480","221,080",NaN,NaN

In [210]:
housing_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1/31/2000,2/29/2000,...,9/30/2024,10/31/2024,11/30/2024,12/31/2024,1/31/2025,2/28/2025,3/31/2025,4/30/2025,5/31/2025,6/30/2025
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,247263.6886,248579.5805,...,789101.6653,792029.7684,7.949569e+05,7.978567e+05,7.993273e+05,800527.8359,801801.0018,804568.2494,806963.7660,808969.9208
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,228578.3305,228924.4230,...,992562.8044,998751.4728,1.003413e+06,1.006716e+06,1.004550e+06,998647.2854,989478.4259,982718.7525,976375.7009,970591.8951
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,104360.7078,104334.1925,...,275808.1904,275233.7765,2.746904e+05,2.744813e+05,2.742881e+05,273939.4084,272996.8135,271791.8705,270606.1587,269422.1439
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,150326.5492,150366.7120,...,312500.5297,312705.2615,3.128113e+05,3.134190e+05,3.143228e+05,315295.2038,315781.8530,315858.8583,315677.5745,315408.5552
4,6915,4,San Antonio,city,TX,TX,"San Antonio-New Braunfels, TX",Bexar County,101602.0271,101696.3529,...,264170.6129,263380.9796,2.625350e+05,2.619721e+05,2.615305e+05,261107.6428,260061.5328,258803.9704,257408.1978,256363.1892

In [211]:
col_df.head()

,Rank,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,1,"New York, NY",100.0,100.0,100.0,100.0,100.0,100.0
1,2,"Honolulu, HI",94.6,57.8,78.5,120.2,84.7,106.3
2,3,"San Francisco, CA",90.3,78.5,85.1,99.4,91.3,168.6
3,4,"Seattle, WA",85.5,60.8,74.7,94.2,87.2,171.5
4,5,"San Jose, CA",84.0,76.0,80.5,89.8,77.7,139.7

In [212]:
# remane our city and state columns
city_coords_df = city_coords_df.rename(columns={
    'city': 'City',
    'state_id': 'State',
    'state_name': 'State Name',
    'lat': 'Latitude',
    'lng': 'Longitude',
    'county_fips': 'FIPS'
})

city_coords_df.head()

,City,city_ascii,State,State Name,FIPS,county_name,Latitude,Longitude,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36081,Queens,40.6943,-73.9249,18832416,10943.7,shape,False,True,America/New_York,1,11229 11228 11226 11225 11224 11222 11221 1122...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1141,-118.4068,11885717,3165.7,shape,False,True,America/Los_Angeles,1,91367 90291 90293 90292 91316 91311 90035 9003...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8375,-87.6866,8489066,4590.3,shape,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7840,-80.2101,6113982,4791.1,shape,False,True,America/New_York,1,33128 33129 33125 33126 33127 33149 33144 3314...,1840015149
4,Houston,Houston,TX,Texas,48201,Harris,29.7860,-95.3885,6046392,1386.2,shape,False,True,America/Chicago,1,77069 77068 77061 77060 77063 77062 77065 7706...,1840020925

Create a master dataframe to hold all of our info

In [213]:
# Pull out necessary columns
master_city_df = city_coords_df[['City', 'State', 'State Name', 'Latitude', 'Longitude', 'FIPS']].drop_duplicates().copy()

# Clean up of names
master_city_df['City'] = master_city_df['City'].str.strip().str.title()
master_city_df['State'] = master_city_df['State'].str.strip().str.upper()

master_city_df

                 City State    State Name  Latitude  Longitude   FIPS
0            New York    NY      New York   40.6943   -73.9249  36081
1         Los Angeles    CA    California   34.1141  -118.4068   6037
2             Chicago    IL      Illinois   41.8375   -87.6866  17031
3               Miami    FL       Florida   25.7840   -80.2101  12086
4             Houston    TX         Texas   29.7860   -95.3885  48201
...               ...   ...           ...       ...        ...    ...
31249    Mount Wilson    NV        Nevada   38.2350  -114.4504  32017
31250          Kohatk    AZ       Arizona   32.5781  -112.0032   4021
31251       Ironville    PA  Pennsylvania   40.6586   -78.2155  42013
31252         Newkirk    NM    New Mexico   35.0635  -104.2715  35019
31253  Falcon Village    TX         Texas   26.5652   -99.1341  48427

[31254 rows x 6 columns]

In [214]:
salary_df.columns.tolist()

['AREA',
 'AREA_TITLE',
 'AREA_TYPE',
 'PRIM_STATE',
 'NAICS',
 'NAICS_TITLE',
 'I_GROUP',
 'OWN_CODE',
 'OCC_CODE',
 'OCC_TITLE',
 'O_GROUP',
 'TOT_EMP',
 'EMP_PRSE',
 'JOBS_1000',
 'LOC_QUOTIENT',
 'PCT_TOTAL',
 'PCT_RPT',
 'H_MEAN',
 'A_MEAN',
 'MEAN_PRSE',
 'H_PCT10',
 'H_PCT25',
 'H_MEDIAN',
 'H_PCT75',
 'H_PCT90',
 'A_PCT10',
 'A_PCT25',
 'A_MEDIAN',
 'A_PCT75',
 'A_PCT90',
 'ANNUAL',
 'HOURLY']

In [215]:
housing_df.columns.tolist()

['RegionID',
 'SizeRank',
 'RegionName',
 'RegionType',
 'StateName',
 'State',
 'Metro',
 'CountyName',
 '1/31/2000',
 '2/29/2000',
 '3/31/2000',
 '4/30/2000',
 '5/31/2000',
 '6/30/2000',
 '7/31/2000',
 '8/31/2000',
 '9/30/2000',
 '10/31/2000',
 '11/30/2000',
 '12/31/2000',
 '1/31/2001',
 '2/28/2001',
 '3/31/2001',
 '4/30/2001',
 '5/31/2001',
 '6/30/2001',
 '7/31/2001',
 '8/31/2001',
 '9/30/2001',
 '10/31/2001',
 '11/30/2001',
 '12/31/2001',
 '1/31/2002',
 '2/28/2002',
 '3/31/2002',
 '4/30/2002',
 '5/31/2002',
 '6/30/2002',
 '7/31/2002',
 '8/31/2002',
 '9/30/2002',
 '10/31/2002',
 '11/30/2002',
 '12/31/2002',
 '1/31/2003',
 '2/28/2003',
 '3/31/2003',
 '4/30/2003',
 '5/31/2003',
 '6/30/2003',
 '7/31/2003',
 '8/31/2003',
 '9/30/2003',
 '10/31/2003',
 '11/30/2003',
 '12/31/2003',
 '1/31/2004',
 '2/29/2004',
 '3/31/2004',
 '4/30/2004',
 '5/31/2004',
 '6/30/2004',
 '7/31/2004',
 '8/31/2004',
 '9/30/2004',
 '10/31/2004',
 '11/30/2004',
 '12/31/2004',
 '1/31/2005',
 '2/28/2005',
 '3/31/2005',
 '4/30/2005',
 '5/31/2005',
 '6/30/2005',
 '7/31/2005',
 '8/31/2005',
 '9/30/2005',
 '10/31/2005',
 '11/30/2005',
 '12/31/2005',
 '1/31/2006',
 '2/28/2006',
 '3/31/2006',
 '4/30/2006',
 '5/31/2006',
 '6/30/2006',
 '7/31/2006',
 '8/31/2006',
 '9/30/2006',
 '10/31/2006',
 '11/30/2006',
 '12/31/2006',
 '1/31/2007',
 '2/28/2007',
 '3/31/2007',
 '4/30/2007',
 '5/31/2007',
 '6/30/2007',
 '7/31/2007',
 '8/31/2007',
 '9/30/2007',
 '10/31/2007',
 '11/30/2007',
 '12/31/2007',
 '1/31/2008',
 '2/29/2008',
 '3/31/2008',
 '4/30/2008',
 '5/31/2008',
 '6/30/2008',
 '7/31/2008',
 '8/31/2008',
 '9/30/2008',
 '10/31/2008',
 '11/30/2008',
 '12/31/2008',
 '1/31/2009',
 '2/28/2009',
 '3/31/2009',
 '4/30/2009',
 '5/31/2009',
 '6/30/2009',
 '7/31/2009',
 '8/31/2009',
 '9/30/2009',
 '10/31/2009',
 '11/30/2009',
 '12/31/2009',
 '1/31/2010',
 '2/28/2010',
 '3/31/2010',
 '4/30/2010',
 '5/31/2010',
 '6/30/2010',
 '7/31/2010',
 '8/31/2010',
 '9/30/2010',
 '10/31/2010',
 '11/30/2010',
 '12/31/2010',
 '1/31/2011',
 '2/28/2011',
 '3/31/2011',
 '4/30/2011',
 '5/31/2011',
 '6/30/2011',
 '7/31/2011',
 '8/31/2011',
 '9/30/2011',
 '10/31/2011',
 '11/30/2011',
 '12/31/2011',
 '1/31/2012',
 '2/29/2012',
 '3/31/2012',
 '4/30/2012',
 '5/31/2012',
 '6/30/2012',
 '7/31/2012',
 '8/31/2012',
 '9/30/2012',
 '10/31/2012',
 '11/30/2012',
 '12/31/2012',
 '1/31/2013',
 '2/28/2013',
 '3/31/2013',
 '4/30/2013',
 '5/31/2013',
 '6/30/2013',
 '7/31/2013',
 '8/31/2013',
 '9/30/2013',
 '10/31/2013',
 '11/30/2013',
 '12/31/2013',
 '1/31/2014',
 '2/28/2014',
 '3/31/2014',
 '4/30/2014',
 '5/31/2014',
 '6/30/2014',
 '7/31/2014',
 '8/31/2014',
 '9/30/2014',
 '10/31/2014',
 '11/30/2014',
 '12/31/2014',
 '1/31/2015',
 '2/28/2015',
 '3/31/2015',
 '4/30/2015',
 '5/31/2015',
 '6/30/2015',
 '7/31/2015',
 '8/31/2015',
 '9/30/2015',
 '10/31/2015',
 '11/30/2015',
 '12/31/2015',
 '1/31/2016',
 '2/29/2016',
 '3/31/2016',
 '4/30/2016',
 '5/31/2016',
 '6/30/2016',
 '7/31/2016',
 '8/31/2016',
 '9/30/2016',
 '10/31/2016',
 '11/30/2016',
 '12/31/2016',
 '1/31/2017',
 '2/28/2017',
 '3/31/2017',
 '4/30/2017',
 '5/31/2017',
 '6/30/2017',
 '7/31/2017',
 '8/31/2017',
 '9/30/2017',
 '10/31/2017',
 '11/30/2017',
 '12/31/2017',
 '1/31/2018',
 '2/28/2018',
 '3/31/2018',
 '4/30/2018',
 '5/31/2018',
 '6/30/2018',
 '7/31/2018',
 '8/31/2018',
 '9/30/2018',
 '10/31/2018',
 '11/30/2018',
 '12/31/2018',
 '1/31/2019',
 '2/28/2019',
 '3/31/2019',
 '4/30/2019',
 '5/31/2019',
 '6/30/2019',
 '7/31/2019',
 '8/31/2019',
 '9/30/2019',
 '10/31/2019',
 '11/30/2019',
 '12/31/2019',
 '1/31/2020',
 '2/29/2020',
 '3/31/2020',
 '4/30/2020',
 '5/31/2020',
 '6/30/2020',
 '7/31/2020',
 '8/31/2020',
 '9/30/2020',
 '10/31/2020',
 '11/30/2020',
 '12/31/2020',
 '1/31/2021',
 '2/28/2021',
 '3/31/2021',
 '4/30/2021',
 '5/31/2021',
 '6/30/2021',
 '7/31/2021',
 '8/31/2021',
 '9/30/2021',
 '10/31/2021',
 '11/30/2021',
 '12/31/2021',
 '1/31/2022',
 '2/28/2022',
 '3/31/2022',
 '4/30/2022',
 '5/31/2022',
 '6/30/2022',
 '7/31/2022',
 '8/31/2022',
 '9/30/2022',
 '10/31/2022',
 '11/30/2022',
 '12/31/2022',
 '1/31/2023',
 '2/28/2023',
 '3/31/2023',
 '4/30/2023',
 '5/31/2023',
 '6/30/2023',
 '7/31/2023',
 '8/31/2023',
 '9/30/2023',
 '10/31/2023',
 '11/30/2023',
 '12/31/2023',
 '1/31/2024',
 '2/29/2024',
 '3/31/2024',
 '4/30/2024',
 '5/31/2024',
 '6/30/2024',
 '7/31/2024',
 '8/31/2024',
 '9/30/2024',
 '10/31/2024',
 '11/30/2024',
 '12/31/2024',
 '1/31/2025',
 '2/28/2025',
 '3/31/2025',
 '4/30/2025',
 '5/31/2025',
 '6/30/2025']

In [216]:
col_df.columns.tolist()

['Rank',
 'City',
 'Cost of Living Index',
 'Rent Index',
 'Cost of Living Plus Rent Index',
 'Groceries Index',
 'Restaurant Price Index',
 'Local Purchasing Power Index']

In [217]:
salary_df[['AREA_TITLE', 'PRIM_STATE']].drop_duplicates().head(10)

             AREA_TITLE PRIM_STATE
0               Alabama         AL
1                Alaska         AK
2               Arizona         AZ
3              Arkansas         AR
4            California         CA
5           Connecticut         CT
6              Delaware         DE
7  District of Columbia         DC
8               Florida         FL
9               Georgia         GA

In [218]:
housing_df[['RegionName', 'StateName']].drop_duplicates().head(10)

     RegionName StateName
0      New York        NY
1   Los Angeles        CA
2       Houston        TX
3       Chicago        IL
4   San Antonio        TX
5  Philadelphia        PA
6       Phoenix        AZ
7     Las Vegas        NV
8     San Diego        CA
9        Dallas        TX

In [219]:
col_df[['City']].drop_duplicates().head(10)

                City
0       New York, NY
1       Honolulu, HI
2  San Francisco, CA
3        Seattle, WA
4       San Jose, CA
5     Washington, DC
6         Boston, MA
7    Los Angeles, CA
8      San Diego, CA
9          Miami, FL

In [220]:
# Remove the State level rows from the salary_df dataset
# Will only keep rows where the AREA_TITLE contains a , like "Houston, TX"
# Will eliminate "USA", "TX" and other single state/country references
salary_df = salary_df[salary_df['AREA_TITLE'].str.contains(",")].copy()

# Seperate the city, state into two seperate columns for better matching
salary_df[['City', 'State']] = salary_df['AREA_TITLE'].str.split(",", expand=True)

# Explode MSAs into separate rows for each city
salary_df = salary_df.copy()
salary_df['City'] = (
    salary_df['City']
    .str.split('-')  # Split "Denver-Aurora-Centennial" â†’ ['Denver', 'Aurora', 'Centennial']
)

# Explode creates multiple rows per MSA, one per city
salary_df = salary_df.explode('City')
salary_df['City'] = salary_df['City'].str.strip().str.title()

# Remove any city after the initial City in some of the longer - ones
salary_df['City'] = salary_df['City'].str.split('-').str[0].str.strip().str.title()
salary_df['State'] = salary_df['State'].str.split('-').str[0].str.strip().str.upper()

# Columns to use
# Select occupation name and annual salary percentiles
annual_cols = ['TOT_EMP', 'LOC_QUOTIENT', 'A_MEAN', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90']
salary_clean = salary_df[['City', 'State', 'OCC_TITLE'] + annual_cols].copy()

# Remove commas and convert to numeric for annual salary columns
for col in annual_cols:
    salary_clean[col] = (
        salary_clean[col]
        .astype(str)
        .str.replace(',', '', regex=False)  # Remove commas
    )
    salary_clean[col] = pd.to_numeric(salary_clean[col], errors='coerce')

# Verify changes
salary_clean[['City', 'State']].head(10)

            City State
106      Abilene    TX
107        Akron    OH
108       Albany    GA
109       Albany    NY
109  Schenectady    NY
109         Troy    NY
110  Albuquerque    NM
111    Allentown    PA
111    Bethlehem    PA
111       Easton    PA

In [221]:
salary_clean

,City,State,OCC_TITLE,TOT_EMP,LOC_QUOTIENT,A_MEAN,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90
106,Abilene,TX,Data Scientists,50.0,0.42,93530.0,39080.0,65090.0,95310.0,112730.0,128980.0
107,Akron,OH,Data Scientists,320.0,0.66,103240.0,58690.0,78770.0,112310.0,115660.0,133440.0
108,Albany,GA,Data Scientists,40.0,0.46,102290.0,51280.0,60860.0,100060.0,117340.0,152330.0
109,Albany,NY,Data Scientists,550.0,0.81,108880.0,63250.0,79050.0,102200.0,135000.0,165080.0
109,Schenectady,NY,Data Scientists,550.0,0.81,108880.0,63250.0,79050.0,102200.0,135000.0,165080.0
...,...,...,...,...,...,...,...,...,...,...,...
765,Fort Collins,CO,Registered Nurses,4470.0,1.20,94740.0,79630.0,84250.0,96600.0,104370.0,104370.0
765,Loveland,CO,Registered Nurses,4470.0,1.20,94740.0,79630.0,84250.0,96600.0,104370.0,104370.0
766,Grand Junction,CO,Registered Nurses,1840.0,1.30,94670.0,78840.0,78970.0,92280.0,102450.0,119060.0
767,Greeley,CO,Registered Nurses,1020.0,0.42,93940.0,73630.0,85540.0,88550.0,108070.0,108070.0
768,Pueblo,CO,Registered Nurses,1910.0,1.43,90290.0,73790.0,78420.0,87520.0,106890.0,107540.0

In [222]:
print(annual_cols)

# salary_clean[annual_cols].isnull().all()

['TOT_EMP', 'LOC_QUOTIENT', 'A_MEAN', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90']

In [223]:
# Ensure all annual salary percentile columns are numeric
for col in annual_cols:
    salary_clean[col] = pd.to_numeric(salary_clean[col], errors='coerce')

# # Debug line
# salary_clean[annual_cols].isnull().all()

# Pivot the salary data so each occupation becomes its own column set
salary_pivot = salary_clean.pivot_table(
    index=['City', 'State'],
    columns='OCC_TITLE',
    values=annual_cols
)

# Flatten multi-index columns
salary_pivot.columns = [f'{occ}_{col}' for col, occ in salary_pivot.columns]
salary_pivot = salary_pivot.reset_index()

In [224]:
salary_pivot

,City,State,Data Scientists_A_MEAN,Registered Nurses_A_MEAN,Data Scientists_A_MEDIAN,Registered Nurses_A_MEDIAN,Data Scientists_A_PCT10,Registered Nurses_A_PCT10,Data Scientists_A_PCT25,Registered Nurses_A_PCT25,Data Scientists_A_PCT75,Registered Nurses_A_PCT75,Data Scientists_A_PCT90,Registered Nurses_A_PCT90,Data Scientists_LOC_QUOTIENT,Registered Nurses_LOC_QUOTIENT,Data Scientists_TOT_EMP,Registered Nurses_TOT_EMP
0,,PA,94160.0,84730.0,84560.0,81450.0,48880.0,63490.0,70070.0,76130.0,122700.0,94890.0,133880.0,100210.0,0.47,1.00,180.0,5430.0
1,,TN,123580.0,88840.0,127770.0,81170.0,67890.0,64360.0,86320.0,77840.0,138730.0,100650.0,190000.0,108530.0,0.90,1.05,1490.0,24460.0
2,Abilene,TX,93530.0,81010.0,95310.0,77860.0,39080.0,60610.0,65090.0,71860.0,112730.0,94900.0,128980.0,99090.0,0.42,1.21,50.0,1910.0
3,Aguadilla,PR,NaN,35210.0,NaN,32090.0,NaN,26830.0,NaN,31800.0,NaN,36640.0,NaN,50470.0,NaN,0.69,NaN,710.0
4,Akron,OH,103240.0,84540.0,112310.0,81520.0,58690.0,65560.0,78770.0,76390.0,115660.0,95160.0,133440.0,99280.0,0.66,1.17,320.0,7950.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,Yakima,WA,NaN,107830.0,NaN,98240.0,NaN,81730.0,NaN,94640.0,NaN,128370.0,NaN,154180.0,NaN,0.71,NaN,1480.0
601,York,PA,97700.0,89350.0,93770.0,85800.0,52380.0,67560.0,69740.0,77600.0,120440.0,98970.0,154250.0,110290.0,0.46,0.95,130.0,3700.0
602,Youngstown,OH,81920.0,77840.0,79530.0,75850.0,50750.0,62480.0,60000.0,73380.0,92650.0,83200.0,115060.0,94160.0,0.19,1.19,50.0,4060.0
603,Yuba City,CA,NaN,146470.0,NaN,144220.0,NaN,96450.0,NaN,129050.0,NaN,172200.0,NaN,172200.0,NaN,0.99,NaN,1070.0
604,Yuma,AZ,109430.0,84650.0,100500.0,92010.0,63940.0,58100.0,78190.0,73940.0,122480.0,95870.0,153130.0,97390.0,0.43,1.17,50.0,1710.0

In [225]:
# Merge salary data into master_city_df with match indicator
master_city_df = master_city_df.merge(
    salary_pivot,
    on=['City', 'State'],
    how='left',
    indicator='_salary_match'
)

# Preview unmatched rows
unmatched_salary_rows = master_city_df[master_city_df['_salary_match'] == 'left_only']
print(f"Unmatched rows (no salary data): {len(unmatched_salary_rows)}")
master_city_df.head()

Unmatched rows (no salary data): 30683

,City,State,State Name,Latitude,Longitude,FIPS,Data Scientists_A_MEAN,Registered Nurses_A_MEAN,Data Scientists_A_MEDIAN,Registered Nurses_A_MEDIAN,...,Registered Nurses_A_PCT25,Data Scientists_A_PCT75,Registered Nurses_A_PCT75,Data Scientists_A_PCT90,Registered Nurses_A_PCT90,Data Scientists_LOC_QUOTIENT,Registered Nurses_LOC_QUOTIENT,Data Scientists_TOT_EMP,Registered Nurses_TOT_EMP,_salary_match
0,New York,NY,New York,40.6943,-73.9249,36081,139810.0,115650.0,130710.0,113490.0,...,100530.0,169420.0,128430.0,213130.0,154440.0,1.40,0.98,19810.0,195470.0,both
1,Los Angeles,CA,California,34.1141,-118.4068,6037,130550.0,138010.0,124270.0,133440.0,...,108150.0,163900.0,165290.0,198830.0,172740.0,1.07,0.81,10030.0,107340.0,both
2,Chicago,IL,Illinois,41.8375,-87.6866,17031,119790.0,94580.0,112640.0,96480.0,...,81320.0,147130.0,104730.0,175390.0,118080.0,0.86,1.06,5840.0,100620.0,both
3,Miami,FL,Florida,25.7840,-80.2101,12086,119400.0,92070.0,118820.0,85610.0,...,78240.0,140060.0,103110.0,193530.0,127240.0,0.53,1.01,2250.0,59880.0,both
4,Houston,TX,Texas,29.7860,-95.3885,48201,111440.0,96730.0,100420.0,97810.0,...,79640.0,132380.0,105970.0,164300.0,125320.0,1.00,0.95,4900.0,65300.0,both

In [226]:
# remane our city and state columns
housing_df = housing_df.rename(columns={
    'RegionName': 'City'
})

# Trim Whitespace from city and state columns
housing_df['City'] = housing_df['City'].str.strip()
housing_df['State'] = housing_df['State'].str.strip()

# Verify changes
housing_df[['City', 'State']].head(10)

housing_df

,RegionID,SizeRank,City,RegionType,StateName,State,Metro,CountyName,1/31/2000,2/29/2000,...,9/30/2024,10/31/2024,11/30/2024,12/31/2024,1/31/2025,2/28/2025,3/31/2025,4/30/2025,5/31/2025,6/30/2025
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,247263.6886,248579.5805,...,789101.6653,792029.7684,7.949569e+05,7.978567e+05,7.993273e+05,800527.8359,801801.0018,804568.2494,806963.7660,808969.9208
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,228578.3305,228924.4230,...,992562.8044,998751.4728,1.003413e+06,1.006716e+06,1.004550e+06,998647.2854,989478.4259,982718.7525,976375.7009,970591.8951
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,104360.7078,104334.1925,...,275808.1904,275233.7765,2.746904e+05,2.744813e+05,2.742881e+05,273939.4084,272996.8135,271791.8705,270606.1587,269422.1439
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,150326.5492,150366.7120,...,312500.5297,312705.2615,3.128113e+05,3.134190e+05,3.143228e+05,315295.2038,315781.8530,315858.8583,315677.5745,315408.5552
4,6915,4,San Antonio,city,TX,TX,"San Antonio-New Braunfels, TX",Bexar County,101602.0271,101696.3529,...,264170.6129,263380.9796,2.625350e+05,2.619721e+05,2.615305e+05,261107.6428,260061.5328,258803.9704,257408.1978,256363.1892
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21484,40937,30062,Slaughter Beach,city,DE,DE,"Salisbury, MD-DE",Sussex County,NaN,NaN,...,537958.4151,535510.3331,5.315355e+05,5.237494e+05,5.178251e+05,512378.7398,511932.1123,514121.3372,516911.5260,518472.8177
21485,44782,30062,Cove,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Chambers County,NaN,NaN,...,357588.3134,357542.3883,3.574316e+05,3.580242e+05,3.592618e+05,361331.2529,362093.4573,362840.2366,362719.5037,363292.6140
21486,47606,30062,Scurry,city,TX,TX,"Dallas-Fort Worth-Arlington, TX",Kaufman County,NaN,NaN,...,333645.7176,333747.7675,3.337738e+05,3.343786e+05,3.356693e+05,336823.2930,337011.7998,336162.7167,335418.3567,335113.2496
21487,47855,30062,Stirling City,city,CA,CA,"Chico, CA",Butte County,NaN,NaN,...,148968.3752,145993.8664,1.442264e+05,1.442655e+05,1.439026e+05,144475.8139,144285.5436,145706.0584,148228.4283,152039.6972
21488,49224,30062,Ila,city,GA,GA,"Athens-Clarke County, GA",Madison County,NaN,NaN,...,251594.6744,251665.8350,2.522641e+05,2.534477e+05,2.549772e+05,255368.6610,255407.9543,255899.3040,257562.4604,258854.5637

In [227]:
# Merge housing data into master_city_df with match indicator
master_city_df = master_city_df.merge(
    housing_df,
    on=['City', 'State'],
    how='left',
    indicator='_housing_match'
)

# Preview unmatched rows
unmatched_housing_rows = master_city_df[master_city_df['_housing_match'] == 'left_only']
print(f"Unmatched rows (no housing data): {len(unmatched_housing_rows)}")
master_city_df.head()
# print(unmatched_housing_rows.head())

Unmatched rows (no housing data): 13827

,City,State,State Name,Latitude,Longitude,FIPS,Data Scientists_A_MEAN,Registered Nurses_A_MEAN,Data Scientists_A_MEDIAN,Registered Nurses_A_MEDIAN,...,10/31/2024,11/30/2024,12/31/2024,1/31/2025,2/28/2025,3/31/2025,4/30/2025,5/31/2025,6/30/2025,_housing_match
0,New York,NY,New York,40.6943,-73.9249,36081,139810.0,115650.0,130710.0,113490.0,...,792029.7684,7.949569e+05,7.978567e+05,7.993273e+05,800527.8359,801801.0018,804568.2494,806963.7660,808969.9208,both
1,Los Angeles,CA,California,34.1141,-118.4068,6037,130550.0,138010.0,124270.0,133440.0,...,998751.4728,1.003413e+06,1.006716e+06,1.004550e+06,998647.2854,989478.4259,982718.7525,976375.7009,970591.8951,both
2,Chicago,IL,Illinois,41.8375,-87.6866,17031,119790.0,94580.0,112640.0,96480.0,...,312705.2615,3.128113e+05,3.134190e+05,3.143228e+05,315295.2038,315781.8530,315858.8583,315677.5745,315408.5552,both
3,Miami,FL,Florida,25.7840,-80.2101,12086,119400.0,92070.0,118820.0,85610.0,...,600429.8290,5.998429e+05,5.991765e+05,5.989177e+05,598454.2915,596512.4971,593884.9174,590892.5535,588264.2901,both
4,Houston,TX,Texas,29.7860,-95.3885,48201,111440.0,96730.0,100420.0,97810.0,...,275233.7765,2.746904e+05,2.744813e+05,2.742881e+05,273939.4084,272996.8135,271791.8705,270606.1587,269422.1439,both

In [229]:
# Seperate the city, state into two seperate columns for better matching
col_df[['City', 'State']] = col_df['City'].str.split(",", expand=True)

# Trim Whitespace from city and state columns
col_df['City'] = col_df['City'].str.strip()
col_df['State'] = col_df['State'].str.strip()

# Verify changes
col_df[['City', 'State']].head(10)

col_df

,Rank,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,State
0,1,New York,100.0,100.0,100.0,100.0,100.0,100.0,NY
1,2,Honolulu,94.6,57.8,78.5,120.2,84.7,106.3,HI
2,3,San Francisco,90.3,78.5,85.1,99.4,91.3,168.6,CA
3,4,Seattle,85.5,60.8,74.7,94.2,87.2,171.5,WA
4,5,San Jose,84.0,76.0,80.5,89.8,77.7,139.7,CA
5,6,Washington,83.2,72.2,78.4,87.2,89.7,152.7,DC
6,7,Boston,82.5,79.1,81.0,90.5,87.3,145.0,MA
7,8,Los Angeles,76.9,63.2,70.9,82.5,83.2,124.2,CA
8,9,San Diego,76.5,70.0,73.6,74.3,81.8,137.7,CA
9,10,Miami,74.4,68.0,71.6,73.8,91.9,117.8,FL
10,11,Philadelphia,73.9,41.3,59.7,86.1,69.9,143.5,PA
11,12,Sacramento,73.9,49.6,63.3,81.8,68.1,136.1,CA
12,13,New Orleans,71.6,40.0,57.8,74.8,86.4,132.0,LA
13,14,Denver,71.5,50.9,62.5,77.0,70.8,159.3,CO
14,15,Chicago,71.5,55.8,64.6,79.2,75.8,157.3,IL
15,16,Portland,70.1,45.9,59.6,73.2,69.5,157.7,OR
16,17,Pittsburgh,69.3,37.2,55.3,83.1,61.0,145.6,PA
17,18,Atlanta,69.2,42.5,57.5,79.9,70.6,170.2,GA
18,19,Minneapolis,69.1,37.5,55.3,81.1,70.4,159.1,MN
19,20,Colorado Springs,68.1,40.1,55.9,74.3,70.4,149.5,CO
20,21,Spokane,67.8,39.0,55.2,76.5,70.7,145.9,WA
21,22,Dallas,67.8,45.1,57.9,71.2,68.9,162.7,TX
22,23,Tampa,67.4,48.8,59.3,74.4,68.3,145.9,FL
23,24,Nashville,67.2,51.6,60.4,74.8,66.8,144.0,TN
24,25,Baltimore,67.0,42.9,56.5,77.7,66.2,139.5,MD
25,26,Columbus,66.8,38.2,54.3,72.9,66.5,145.0,OH
26,27,Charlotte,66.6,46.7,57.9,77.3,63.9,145.7,NC
27,28,Phoenix,66.4,39.0,54.4,69.4,69.3,149.8,AZ
28,29,Raleigh,66.0,43.1,56.0,74.9,64.1,157.2,NC
29,30,Saint Louis,65.5,33.1,51.3,74.1,68.5,173.2,MO
30,31,Omaha,65.3,39.5,54.0,70.6,66.0,148.4,NE
31,32,Fort Worth,65.0,38.3,53.3,70.7,62.2,154.8,TX
32,33,Indianapolis,64.9,39.6,53.8,66.3,72.2,169.3,IN
33,34,Madison,64.8,42.4,55.0,71.9,61.3,156.5,WI
34,35,Las Vegas,64.4,38.4,53.0,63.5,72.5,148.5,NV
35,36,Orlando,64.2,42.6,54.8,71.4,68.0,150.0,FL
36,37,Kansas City,64.0,31.5,49.8,72.1,67.2,160.0,MO
37,38,Detroit,63.0,34.5,50.5,72.7,59.7,124.7,MI
38,39,Salt Lake City,62.6,38.9,52.3,66.3,66.0,160.6,UT
39,40,Tucson,61.8,31.3,48.5,66.0,65.8,144.1,AZ
40,41,Austin,61.7,49.5,56.4,65.4,66.3,166.5,TX
41,42,Houston,61.6,41.5,52.8,64.6,67.1,169.8,TX
42,43,Vancouver,61.2,37.7,50.9,63.1,70.1,174.4,WA
43,44,Cleveland,61.2,33.7,49.2,69.3,56.4,134.7,OH
44,45,Wichita,60.9,26.9,46.1,68.1,55.9,155.3,KS
45,46,Jacksonville,60.4,38.7,50.9,64.5,68.2,153.4,FL
46,47,San Antonio,59.0,35.7,48.8,60.3,64.3,164.6,TX
47,48,Albuquerque,58.9,31.3,46.8,67.5,64.1,165.8,NM
48,49,Cincinnati,54.8,36.2,46.7,60.6,53.4,170.2,OH

In [244]:
# Merge housing data into master_city_df with match indicator
master_city_df = master_city_df.merge(
    col_df,
    on=['City', 'State'],
    how='left',
    indicator='_col_match'
)

# Preview unmatched rows
unmatched_col_rows = master_city_df[master_city_df['_col_match'] == 'left_only']
print(f"Unmatched rows (no col data): {len(unmatched_col_rows)}")
master_city_df.head()

Unmatched rows (no col data): 31234

,City,State,State Name,Latitude,Longitude,FIPS,Data Scientists_A_MEAN,Registered Nurses_A_MEAN,Data Scientists_A_MEDIAN,Registered Nurses_A_MEDIAN,...,6/30/2025,_housing_match,Rank,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,_col_match
0,New York,NY,New York,40.6943,-73.9249,36081,139810.0,115650.0,130710.0,113490.0,...,808969.9208,both,1.0,100.0,100.0,100.0,100.0,100.0,100.0,both
1,Los Angeles,CA,California,34.1141,-118.4068,6037,130550.0,138010.0,124270.0,133440.0,...,970591.8951,both,8.0,76.9,63.2,70.9,82.5,83.2,124.2,both
2,Chicago,IL,Illinois,41.8375,-87.6866,17031,119790.0,94580.0,112640.0,96480.0,...,315408.5552,both,15.0,71.5,55.8,64.6,79.2,75.8,157.3,both
3,Miami,FL,Florida,25.7840,-80.2101,12086,119400.0,92070.0,118820.0,85610.0,...,588264.2901,both,10.0,74.4,68.0,71.6,73.8,91.9,117.8,both
4,Houston,TX,Texas,29.7860,-95.3885,48201,111440.0,96730.0,100420.0,97810.0,...,269422.1439,both,42.0,61.6,41.5,52.8,64.6,67.1,169.8,both

### Impute data for cities where we don't have any salary/housing data

#### Helper function for distance calc

In [250]:
def impute_missing_values_by_column(master_df, source_mask, column_name, k=1):
    """
    For a single column, impute missing values using nearest neighbors
    based on Latitude and Longitude.
    Also returns a mask marking which values were filled.
    """
    from sklearn.neighbors import NearestNeighbors

    df_with = master_df[source_mask & master_df[column_name].notna()]
    df_missing = master_df[master_df[column_name].isna()].copy()

    if df_with.empty or df_missing.empty:
        return master_df, pd.Series([False] * len(master_df), index=master_df.index)

    # Fit nearest neighbors
    nn = NearestNeighbors(n_neighbors=k)
    nn.fit(df_with[['Latitude', 'Longitude']])

    distances, indices = nn.kneighbors(df_missing[['Latitude', 'Longitude']])

    filled_mask = pd.Series([False] * len(master_df), index=master_df.index)

    for i, row_idx in enumerate(df_missing.index):
        nearest_index = df_with.index[indices[i][0]]
        master_df.at[row_idx, column_name] = master_df.at[nearest_index, column_name]
        filled_mask.at[row_idx] = True

    return master_df, filled_mask

#### Imputation

In [251]:
salary_cols = [col for col in master_city_df.columns if col.startswith("Data Scientists_") or col.startswith("Registered Nurses_")]
housing_cols = ['6/30/2025', 'Cost of Living Index', 'Rent Index', 
                'Cost of Living Plus Rent Index', 'Groceries Index', 
                'Restaurant Price Index', 'Local Purchasing Power Index']

# Dictionary to store imputation flags
imputed_flags = {}

# Impute salary columns
for col in salary_cols:
    master_city_df, imputed_flags[col + "_imputed"] = impute_missing_values_by_column(
        master_city_df,
        source_mask=master_city_df['_salary_match'] == 'both',
        column_name=col
    )

# Impute housing columns
for col in housing_cols:
    master_city_df, imputed_flags[col + "_imputed"] = impute_missing_values_by_column(
        master_city_df,
        source_mask=master_city_df['_housing_match'] == 'both',
        column_name=col
    )

# Append flags to the master_city_df
for flag_col, flag_series in imputed_flags.items():
    master_city_df[flag_col] = flag_series

In [252]:
master_city_df

,City,State,State Name,Latitude,Longitude,FIPS,Data Scientists_A_MEAN,Registered Nurses_A_MEAN,Data Scientists_A_MEDIAN,Registered Nurses_A_MEDIAN,...,Registered Nurses_LOC_QUOTIENT_imputed,Data Scientists_TOT_EMP_imputed,Registered Nurses_TOT_EMP_imputed,6/30/2025_imputed,Cost of Living Index_imputed,Rent Index_imputed,Cost of Living Plus Rent Index_imputed,Groceries Index_imputed,Restaurant Price Index_imputed,Local Purchasing Power Index_imputed
0,New York,NY,New York,40.6943,-73.9249,36081,139810.0,115650.0,130710.0,113490.0,...,False,False,False,False,False,False,False,False,False,False
1,Los Angeles,CA,California,34.1141,-118.4068,6037,130550.0,138010.0,124270.0,133440.0,...,False,False,False,False,False,False,False,False,False,False
2,Chicago,IL,Illinois,41.8375,-87.6866,17031,119790.0,94580.0,112640.0,96480.0,...,False,False,False,False,False,False,False,False,False,False
3,Miami,FL,Florida,25.7840,-80.2101,12086,119400.0,92070.0,118820.0,85610.0,...,False,False,False,False,False,False,False,False,False,False
4,Houston,TX,Texas,29.7860,-95.3885,48201,111440.0,96730.0,100420.0,97810.0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31277,Mount Wilson,NV,Nevada,38.2350,-114.4504,32017,108040.0,85130.0,102680.0,83360.0,...,True,True,True,True,True,True,True,True,True,True
31278,Kohatk,AZ,Arizona,32.5781,-112.0032,4021,115910.0,96220.0,109230.0,98160.0,...,True,True,True,True,True,True,True,True,True,True
31279,Ironville,PA,Pennsylvania,40.6586,-78.2155,42013,86180.0,83830.0,73210.0,80460.0,...,True,True,True,True,True,True,True,True,True,True
31280,Newkirk,NM,New Mexico,35.0635,-104.2715,35019,90320.0,95270.0,85690.0,91750.0,...,True,True,True,True,True,True,True,True,True,True
31281,Falcon Village,TX,Texas,26.5652,-99.1341,48427,88470.0,76480.0,83900.0,77240.0,...,True,True,True,True,True,True,True,True,True,True

#### Clean up columns

In [256]:
master_city_df.columns.tolist()

['City',
 'State',
 'State Name',
 'Latitude',
 'Longitude',
 'FIPS',
 'Data Scientists_A_MEAN',
 'Registered Nurses_A_MEAN',
 'Data Scientists_A_MEDIAN',
 'Registered Nurses_A_MEDIAN',
 'Data Scientists_A_PCT10',
 'Registered Nurses_A_PCT10',
 'Data Scientists_A_PCT25',
 'Registered Nurses_A_PCT25',
 'Data Scientists_A_PCT75',
 'Registered Nurses_A_PCT75',
 'Data Scientists_A_PCT90',
 'Registered Nurses_A_PCT90',
 'Data Scientists_LOC_QUOTIENT',
 'Registered Nurses_LOC_QUOTIENT',
 'Data Scientists_TOT_EMP',
 'Registered Nurses_TOT_EMP',
 '_salary_match',
 'RegionID',
 'SizeRank',
 'RegionType',
 'StateName',
 'Metro',
 'CountyName',
 '1/31/2000',
 '2/29/2000',
 '3/31/2000',
 '4/30/2000',
 '5/31/2000',
 '6/30/2000',
 '7/31/2000',
 '8/31/2000',
 '9/30/2000',
 '10/31/2000',
 '11/30/2000',
 '12/31/2000',
 '1/31/2001',
 '2/28/2001',
 '3/31/2001',
 '4/30/2001',
 '5/31/2001',
 '6/30/2001',
 '7/31/2001',
 '8/31/2001',
 '9/30/2001',
 '10/31/2001',
 '11/30/2001',
 '12/31/2001',
 '1/31/2002',
 '2/28/2002',
 '3/31/2002',
 '4/30/2002',
 '5/31/2002',
 '6/30/2002',
 '7/31/2002',
 '8/31/2002',
 '9/30/2002',
 '10/31/2002',
 '11/30/2002',
 '12/31/2002',
 '1/31/2003',
 '2/28/2003',
 '3/31/2003',
 '4/30/2003',
 '5/31/2003',
 '6/30/2003',
 '7/31/2003',
 '8/31/2003',
 '9/30/2003',
 '10/31/2003',
 '11/30/2003',
 '12/31/2003',
 '1/31/2004',
 '2/29/2004',
 '3/31/2004',
 '4/30/2004',
 '5/31/2004',
 '6/30/2004',
 '7/31/2004',
 '8/31/2004',
 '9/30/2004',
 '10/31/2004',
 '11/30/2004',
 '12/31/2004',
 '1/31/2005',
 '2/28/2005',
 '3/31/2005',
 '4/30/2005',
 '5/31/2005',
 '6/30/2005',
 '7/31/2005',
 '8/31/2005',
 '9/30/2005',
 '10/31/2005',
 '11/30/2005',
 '12/31/2005',
 '1/31/2006',
 '2/28/2006',
 '3/31/2006',
 '4/30/2006',
 '5/31/2006',
 '6/30/2006',
 '7/31/2006',
 '8/31/2006',
 '9/30/2006',
 '10/31/2006',
 '11/30/2006',
 '12/31/2006',
 '1/31/2007',
 '2/28/2007',
 '3/31/2007',
 '4/30/2007',
 '5/31/2007',
 '6/30/2007',
 '7/31/2007',
 '8/31/2007',
 '9/30/2007',
 '10/31/2007',
 '11/30/2007',
 '12/31/2007',
 '1/31/2008',
 '2/29/2008',
 '3/31/2008',
 '4/30/2008',
 '5/31/2008',
 '6/30/2008',
 '7/31/2008',
 '8/31/2008',
 '9/30/2008',
 '10/31/2008',
 '11/30/2008',
 '12/31/2008',
 '1/31/2009',
 '2/28/2009',
 '3/31/2009',
 '4/30/2009',
 '5/31/2009',
 '6/30/2009',
 '7/31/2009',
 '8/31/2009',
 '9/30/2009',
 '10/31/2009',
 '11/30/2009',
 '12/31/2009',
 '1/31/2010',
 '2/28/2010',
 '3/31/2010',
 '4/30/2010',
 '5/31/2010',
 '6/30/2010',
 '7/31/2010',
 '8/31/2010',
 '9/30/2010',
 '10/31/2010',
 '11/30/2010',
 '12/31/2010',
 '1/31/2011',
 '2/28/2011',
 '3/31/2011',
 '4/30/2011',
 '5/31/2011',
 '6/30/2011',
 '7/31/2011',
 '8/31/2011',
 '9/30/2011',
 '10/31/2011',
 '11/30/2011',
 '12/31/2011',
 '1/31/2012',
 '2/29/2012',
 '3/31/2012',
 '4/30/2012',
 '5/31/2012',
 '6/30/2012',
 '7/31/2012',
 '8/31/2012',
 '9/30/2012',
 '10/31/2012',
 '11/30/2012',
 '12/31/2012',
 '1/31/2013',
 '2/28/2013',
 '3/31/2013',
 '4/30/2013',
 '5/31/2013',
 '6/30/2013',
 '7/31/2013',
 '8/31/2013',
 '9/30/2013',
 '10/31/2013',
 '11/30/2013',
 '12/31/2013',
 '1/31/2014',
 '2/28/2014',
 '3/31/2014',
 '4/30/2014',
 '5/31/2014',
 '6/30/2014',
 '7/31/2014',
 '8/31/2014',
 '9/30/2014',
 '10/31/2014',
 '11/30/2014',
 '12/31/2014',
 '1/31/2015',
 '2/28/2015',
 '3/31/2015',
 '4/30/2015',
 '5/31/2015',
 '6/30/2015',
 '7/31/2015',
 '8/31/2015',
 '9/30/2015',
 '10/31/2015',
 '11/30/2015',
 '12/31/2015',
 '1/31/2016',
 '2/29/2016',
 '3/31/2016',
 '4/30/2016',
 '5/31/2016',
 '6/30/2016',
 '7/31/2016',
 '8/31/2016',
 '9/30/2016',
 '10/31/2016',
 '11/30/2016',
 '12/31/2016',
 '1/31/2017',
 '2/28/2017',
 '3/31/2017',
 '4/30/2017',
 '5/31/2017',
 '6/30/2017',
 '7/31/2017',
 '8/31/2017',
 '9/30/2017',
 '10/31/2017',
 '11/30/2017',
 '12/31/2017',
 '1/31/2018',
 '2/28/2018',
 '3/31/2018',
 '4/30/2018',
 '5/31/2018',
 '6/30/2018',
 '7/31/2018',
 '8/31/2018',
 '9/30/2018',
 '10/31/2018',
 '11/30/2018',
 '12/31/2018',
 '1/31/2019',
 '2/28/2019',
 '3/31/2019',
 '4/30/2019',
 '5/31/2019',
 '6/30/2019',
 '7/31/2019',
 '8/31/2019',
 '9/30/2019',
 '10/31/2019',
 '11/30/2019',
 '12/31/2019',
 '1/31/2020',
 '2/29/2020',
 '3/31/2020',
 '4/30/2020',
 '5/31/2020',
 '6/30/2020',
 '7/31/2020',
 '8/31/2020',
 '9/30/2020',
 '10/31/2020',
 '11/30/2020',
 '12/31/2020',
 '1/31/2021',
 '2/28/2021',
 '3/31/2021',
 '4/30/2021',
 '5/31/2021',
 '6/30/2021',
 '7/31/2021',
 '8/31/2021',
 '9/30/2021',
 '10/31/2021',
 '11/30/2021',
 '12/31/2021',
 '1/31/2022',
 '2/28/2022',
 '3/31/2022',
 '4/30/2022',
 '5/31/2022',
 '6/30/2022',
 '7/31/2022',
 '8/31/2022',
 '9/30/2022',
 '10/31/2022',
 '11/30/2022',
 '12/31/2022',
 '1/31/2023',
 '2/28/2023',
 '3/31/2023',
 '4/30/2023',
 '5/31/2023',
 '6/30/2023',
 '7/31/2023',
 '8/31/2023',
 '9/30/2023',
 '10/31/2023',
 '11/30/2023',
 '12/31/2023',
 '1/31/2024',
 '2/29/2024',
 '3/31/2024',
 '4/30/2024',
 '5/31/2024',
 '6/30/2024',
 '7/31/2024',
 '8/31/2024',
 '9/30/2024',
 '10/31/2024',
 '11/30/2024',
 '12/31/2024',
 '1/31/2025',
 '2/28/2025',
 '3/31/2025',
 '4/30/2025',
 '5/31/2025',
 '6/30/2025',
 '_housing_match',
 'Rank',
 'Cost of Living Index',
 'Rent Index',
 'Cost of Living Plus Rent Index',
 'Groceries Index',
 'Restaurant Price Index',
 'Local Purchasing Power Index',
 '_col_match',
 'Data Scientists_A_MEAN_imputed',
 'Registered Nurses_A_MEAN_imputed',
 'Data Scientists_A_MEDIAN_imputed',
 'Registered Nurses_A_MEDIAN_imputed',
 'Data Scientists_A_PCT10_imputed',
 'Registered Nurses_A_PCT10_imputed',
 'Data Scientists_A_PCT25_imputed',
 'Registered Nurses_A_PCT25_imputed',
 'Data Scientists_A_PCT75_imputed',
 'Registered Nurses_A_PCT75_imputed',
 'Data Scientists_A_PCT90_imputed',
 'Registered Nurses_A_PCT90_imputed',
 'Data Scientists_LOC_QUOTIENT_imputed',
 'Registered Nurses_LOC_QUOTIENT_imputed',
 'Data Scientists_TOT_EMP_imputed',
 'Registered Nurses_TOT_EMP_imputed',
 '6/30/2025_imputed',
 'Cost of Living Index_imputed',
 'Rent Index_imputed',
 'Cost of Living Plus Rent Index_imputed',
 'Groceries Index_imputed',
 'Restaurant Price Index_imputed',
 'Local Purchasing Power Index_imputed']

#### Merge the dataframes into one singular dataset to be used for mapping

In [257]:
# Add Affordability metric

# Ensure the numeric columns are valid (if not already done)
cols_to_check = [
    'Data Scientists_A_MEAN', 'Registered Nurses_A_MEAN',
    '6/30/2025', 'Cost of Living Index'
]
for col in cols_to_check:
    master_city_df[col] = pd.to_numeric(master_city_df[col], errors='coerce')

# Compute total salary and affordability
master_city_df['Total_Salary'] = (
    master_city_df['Data Scientists_A_MEAN'].fillna(0) +
    master_city_df['Registered Nurses_A_MEAN'].fillna(0)
)

# Individual affordability
master_city_df['Affordability_DataScientist'] = (
    master_city_df['Data Scientists_A_MEAN'] / 
    (master_city_df['6/30/2025'] * master_city_df['Cost of Living Index'])
)

master_city_df['Affordability_RN'] = (
    master_city_df['Registered Nurses_A_MEAN'] / 
    (master_city_df['6/30/2025'] * master_city_df['Cost of Living Index'])
)

# Combined affordability
master_city_df['Affordability_Combined'] = (
    master_city_df['Total_Salary'] / 
    (master_city_df['6/30/2025'] * master_city_df['Cost of Living Index'])
)

In [258]:
# Save the combined_df to csv
master_city_df.to_csv('../data/combined_affordability.csv', index=False)

In [259]:
master_city_df

,City,State,State Name,Latitude,Longitude,FIPS,Data Scientists_A_MEAN,Registered Nurses_A_MEAN,Data Scientists_A_MEDIAN,Registered Nurses_A_MEDIAN,...,Cost of Living Index_imputed,Rent Index_imputed,Cost of Living Plus Rent Index_imputed,Groceries Index_imputed,Restaurant Price Index_imputed,Local Purchasing Power Index_imputed,Total_Salary,Affordability_DataScientist,Affordability_RN,Affordability_Combined
0,New York,NY,New York,40.6943,-73.9249,36081,139810.0,115650.0,130710.0,113490.0,...,False,False,False,False,False,False,255460.0,0.001728,0.001430,0.003158
1,Los Angeles,CA,California,34.1141,-118.4068,6037,130550.0,138010.0,124270.0,133440.0,...,False,False,False,False,False,False,268560.0,0.001749,0.001849,0.003598
2,Chicago,IL,Illinois,41.8375,-87.6866,17031,119790.0,94580.0,112640.0,96480.0,...,False,False,False,False,False,False,214370.0,0.005312,0.004194,0.009506
3,Miami,FL,Florida,25.7840,-80.2101,12086,119400.0,92070.0,118820.0,85610.0,...,False,False,False,False,False,False,211470.0,0.002728,0.002104,0.004832
4,Houston,TX,Texas,29.7860,-95.3885,48201,111440.0,96730.0,100420.0,97810.0,...,False,False,False,False,False,False,208170.0,0.006715,0.005828,0.012543
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31277,Mount Wilson,NV,Nevada,38.2350,-114.4504,32017,108040.0,85130.0,102680.0,83360.0,...,True,True,True,True,True,True,193170.0,0.007507,0.005915,0.013423
31278,Kohatk,AZ,Arizona,32.5781,-112.0032,4021,115910.0,96220.0,109230.0,98160.0,...,True,True,True,True,True,True,212130.0,0.005385,0.004470,0.009855
31279,Ironville,PA,Pennsylvania,40.6586,-78.2155,42013,86180.0,83830.0,73210.0,80460.0,...,True,True,True,True,True,True,170010.0,0.007267,0.007069,0.014336
31280,Newkirk,NM,New Mexico,35.0635,-104.2715,35019,90320.0,95270.0,85690.0,91750.0,...,True,True,True,True,True,True,185590.0,0.018135,0.019129,0.037264
31281,Falcon Village,TX,Texas,26.5652,-99.1341,48427,88470.0,76480.0,83900.0,77240.0,...,True,True,True,True,True,True,164950.0,0.011102,0.009597,0.020699